name: Docker CI

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build Docker image
      run: docker build -t devops-app .

    - name: Docker Compose 
      run: docker compose up -d

    - name: Run container
      run: docker run -d -p 3000:3000 devops-app
